*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: exo, sans-serif;
    
}

/* regole contenitori di pagina */
.container{
    width: 80%;
    border: 1px solid black;
    margin: 5% auto;
    background-color: rgb(237, 234, 234);
    border-radius: 10px;
    text-align: center;
    box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.5), 
        inset 0 4px 6px rgba(0, 0, 0, 0.3); 
    transform: translateZ(0);
}

/* regole colonne */
.col{
    width: 26%;
    margin-top: 2%;
    padding-bottom: 2%;
}


.wt-16{
    width: 16%;
    margin-bottom: 2%;
}

/* regole righe */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.close{
  justify-content:center;
}
.ticket{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 2%;
}


/* regole di stile */
body{
    background-color: brown;
    background-image: url(../img/Trenitalia.jpg);
    background-size: contain;
}
h2{
    margin-bottom: 2%;
    margin-top: 2%;
}

h1{
    margin-top: 2%;
}

.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.button a{
    text-decoration: none;
}

.user-name{
    margin-top: 30%;
}
.type-offer{
    margin-top: 30%;
}
.final-price{
    margin-top: 30%;
}

input{
    width: 200px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    border-radius: 10PX;
    font-size: 15px;
    font-family: exo, sans-serif;
}


.label{
    margin-bottom: 5%;
    /* color:  rgb(248, 69, 69); */
    font-weight: bold;
    font-size: 15PX;
    
}

select{
    width: 200px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    border-radius: 10PX;
    font-size: 15px;
    font-family: exo, sans-serif;
}

.details{
    text-align: left;
    margin-left: 3%;
    margin-bottom: 2%;
    
    font-weight: bold;
    font-size: 20PX;
}

.label-ticket{
    margin-top: 10%;
    font-weight: bold;
    font-size: 15PX;
}

.bg-gr{
    background-color: rgb(193, 192, 192);
    border-radius: 10px;
}

i{
    font-size: 20px;
    margin-right: 3%;
}