*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole contenitori di pagina */
.container{
    width: 80%;
    border: 1px solid black;
    margin: 5% auto;
    background-color: white;
    border-radius: 10px;
}

/* regole colonne */
.col{
    width: 26%;
    margin-bottom: 2%;
    margin-top: 2%;
}


.wt-16{
    width: 16%;
    
}

/* regole righe */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



/* regole di stile */
body{
    background-color: brown;
}


.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    
}

.user-name{
    margin-top: 30%;
}
.type-offer{
    margin-top: 30%;
}
.final-price{
    margin-top: 30%;
}